<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.onyxbits.drudgery"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="17" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="de.onyxbits.drudgery.MainActivity"
			android:label="@string/title_main_activity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<service android:name="de.onyxbits.drudgery.UpdateService" />

		<receiver android:name="de.onyxbits.drudgery.DrudgeryWidgetProvider" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/drudgery_appwidget_info" />
		</receiver>

		<service
			android:name="de.onyxbits.drudgery.DashclockExtensionService"
			android:icon="@drawable/ic_extension"
			android:label="@string/dashclock_title"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
			<intent-filter>
				<action android:name="com.google.android.apps.dashclock.Extension" />
			</intent-filter>

			<meta-data
				android:name="protocolVersion"
				android:value="2" />
			<meta-data
				android:name="worldReadable"
				android:value="true" />
			<meta-data
				android:name="description"
				android:value="@string/dashclock_description" />
			<meta-data
				android:name="settingsActivity"
				android:value=".MainActivity" />
		</service>

		<activity
			android:name="de.onyxbits.drudgery.ProxyActivity"
			android:exported="true"
			android:label="@string/title_activity_blank"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
		</activity>


	</application>

</manifest>